/*General page and text edits*/
#brandName {
  margin-top: 50px;
  text-align: center;
}
body {
  background-color: darkslateblue;
  color: #000050;
}

/*ssjam logo and github logo underneath*/
#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

#cf .top {
  display: block;
  height: 250px;
  width: 250px;
  margin:0px 96px;
  border: 3px solid black;
}

#cf .bottom {
  display: block;
  height: 250px;
  width: 250px;
  margin: 0px  96px ;
  border: 3px solid black;
}

/*For Collaborators slide out panel*/
#collabPanel, #collabFlip {
  padding: 10px;
  text-align: center;
  color: #00CCEE;
  padding: 5px;
  background-color: #000080;
  border: solid 1px #c3c3c3;
}

#collabPanel {
  padding: : 50px;
  display: none;
}

#descText {
  text-align: left;
  text-indent: inherit;
}
